```{=html}
<ul class="list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <% if(item.link){ %>
    <a href="<%- item.link %>"><%= item.description %></a><br/>
    <% } else{ %>  
    <span><%= item.description %></span><br/>
    <% } %>
    <% if(item.image){ %>
    <img width = "100%" src = "<%- item.image %>"><br/>
    <% } %>
    <span><%= item.date %><span>
    </li>
<% } %>
</ul>
```