```{=html}
<ul class="list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <% if(item.link){ %>
    <a href="<%- item.link %>"><%= item.description %></a><br/>
    <% } else{ %>  
    <span><%= item.description %></span><br/>
    <% } %>
    <% if(item.image){ %>
    <div style = "text-align: center">
      <img style="max-height:50vh;max-width:50vw;height:auto;width:auto;" src = "<%- item.image %>"><br/>
    </div>
    <% } %>
    <span style = "font-size: 85%; color: gray"><%= item.date %><span>
    </li>
<% } %>
</ul>
```