```{=html}
<b> Latest lab news </b>
<div>
<% for (const item of items) { %>
  <div <%= metadataAttrs(item) %>>
    <% if(item.link){ %>
    <a href="<%- item.link %>"><%= item.description %></a><br/>
    <% } else{ %>  
    <span style="white-space: pre-line"><%= item.description %></span><br/>
    <% } %>
    <span style = "font-size: 85%; color: gray"><%= item.date %><span>
    </div>
    <br>
<% } %>
</div>
<a href = "/news.html">Older news</a> 
```